body {
	font-family: 'Roboto', sans-serif;
	color: #434455;
	background-color: #FFFFFF;
}

/* Reset styles */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

a {
	text-decoration: none;
}

img {
	display: block;
}

.button {
	cursor: pointer;
	border: 0;
}

.container {
	max-width: 1158px;
	padding-left: 0;
	padding-right: 0;
	margin-left: 156px;
	margin-right: 156px;
}

.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

header {
	border-bottom: 1px solid var(--cornflower, #E7E9FC);
}

/* Naw bar */

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a .logo {
	color: #2E2F42;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-right: 76px;
}

nav .logo {
	color: #4d5ae5;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	padding-top: 25.5px;
	padding-bottom: 25.5px;
}

.main-nav {
	display: flex;
	flex-direction: row;
	gap: 40px;
	align-items: center;
	padding-top: 24px;
	padding-bottom: 24px;
}

.main nav ul li {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.nav-item {
	color: #2e2f42;
}

.nav-item:hover,
.nav-item:focus {
	color: #404BBF;
	background: #404BBF;
}

/* Contacts */

.contacts ul {
	display: flex;
	gap: 40px;
}

address {
	font-style: normal;
}

address ul li a {
	color: #434455;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
	padding-top: 24px;
	padding-bottom: 24px;
}

/* Address on hover */

address ul li a:hover,
address ul li a:focus {
	color: #404BBF;
}

/* Hero section */

.solutions {
	background: #2E2F42;
}

.solutions .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 68px;
	padding-left: 316px;
	padding-right: 316px;
}

.solutions-header {
	color: #FFFFFF;
	text-align: center;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 0.02em;
	padding-bottom: 48px;
}

.button {
	background: #4D5AE5;
	color: #FFFFFF;
	font-size: 16px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	padding: 16px 32px;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	margin-bottom: 66px;
}

/* Button on hover */

.button:hover,
.button:focus {
	color: #FFFFFF;
	background: #404BBF;
}

/* Features */

.features .container ul {
	display: flex;
	flex-direction: row;
	gap: 24px;
}

.feature-header {
	display: none;
}

.features ul li .features-header {
	color: #2E2F42;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	padding-bottom: 8px;
}

.features .feature-item {
	margin-bottom: 0 0 120px 0;
	color: #434455;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
	width: 264px;
}

/* Team */

.team {
	background: #F4F4FD;
}

.team .team-header {
	color: #2E2F42;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	padding-bottom: 72px;
}

.team ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.team ul .team-item {
	background-color: #FFFFFF;
	border-radius: 0px 0px 4px 4px;
	background: var(--white, #FFF);
	box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team ul li .team-item-header {
	color: #2E2F42;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	padding-top: 32px;
	padding-bottom: 8px;

}

.team ul li .team-item-paragraph {
	color: #434455;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
	padding-bottom: 32px;
}

/* Portfolio */

.portfolio .portfolio-header {
	color: #2E2F42;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	padding-bottom: 72px;
}

.portfolio ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 48px;
}

.portfolio ul li .portfolio-item-header {
	color: #2E2F42;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	border-left: 1px solid #E7E9FC;
	border-right: 1px solid #E7E9FC;
	padding-top: 32px;
	padding-bottom: 8px;
	padding-left: 16px;
}

.portfolio ul li .portfolio-item-paragraph {
	color: #434455;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
	border-left: 1px solid #E7E9FC;
	border-right: 1px solid #E7E9FC;
	border-bottom: 1px solid #E7E9FC;
	padding-left: 16px;
	padding-bottom: 32px;
}

/* Footer */

.footer {
	background: #2E2F42;
}

/* Logo */

.footer .container {
	padding-top: 101.5px;
	padding-bottom: 100px;
	;
}

footer a .logo {
	color: #F4F4FD;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

footer .logo {
	color: #4D5AE5;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

footer .footer-paragraph {
	color: #F4F4FD;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
	padding-top: 17.5px;
	width: 264px;
}
