body {
	font-family: 'Roboto', sans-serif;
	color: #434455;
	background-color: #FFFFFF;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

/* Naw bar */

nav a .logo {
	color: #2E2F42;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

nav .logo {
	color: #4d5ae5;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

nav ul li {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.nav-item {
	color: #2e2f42;
}

.nav-item:hover,
.nav-item:focus {
	color: #404BBF;
	background: #404BBF;
}

/* Contacts */

address {
	font-style: normal;
}

address ul li a {
	color: #434455;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* Address on hover */

address ul li a:hover,
address ul li a:focus {
	color: #404BBF;
}

/* Hero section */

.solutions {
	justify-content: center;
	background: #2E2F42;
}

.solutions-header {
	color: #FFFFFF;
	text-align: center;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 0.02em;
}

.button {
	background: #4D5AE5;
	color: #FFFFFF;
	font-size: 16px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	cursor: pointer;
}

/* Button on hover */

.button:hover,
.button:focus {
	color: #FFFFFF;
	background: #404BBF;
}

/* Features */

.features ul li .features-header {
	color: #2E2F42;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.features .feature-item {
	margin-bottom: 0 0 120px 0;
	color: #434455;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* Team */

.team {
	background: #F4F4FD;
}

.team .team-header {
	color: #2E2F42;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
}

.team ul .team-item {
	background-color: #FFFFFF;
}

.team ul li .team-item-header {
	color: #2E2F42;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;

}

.team ul li .team-item-paragraph {
	color: #434455;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* Portfolio */

.portfolio .portfolio-header {
	color: #2E2F42;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
}

.portfolio ul li .portfolio-item-header {
	justify-content: center;
	color: #2E2F42;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.portfolio ul li .portfolio-item-paragraph {
	color: #434455;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* Footer */

.footer {
	background: #2E2F42;
}

/* Logo */

footer a .logo {
	color: #F4F4FD;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

footer .logo {
	color: #4D5AE5;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

footer .footer-paragraph {
	color: #F4F4FD;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
